<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="public/styles/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <nav id="nav-bar">
                <img class="logo" width="70px" height="70px"src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-5/128/016_map_location_travel_navigation_city_street_road-512.png">
                <img class="logoRight" width="70px" height="70px"src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-5/128/016_map_location_travel_navigation_city_street_road-512.png">
                <span class="header">MAP📱PP</span>
                <button type='button' class="button1 btn btn-outline-dark">create map</button>
                <button type='button' class="button2 btn btn-outline-dark">login </button>
                <button type='button' class="button3 btn btn-outline-dark">browse</button>
          <!--The div element for the map -->
          
          <div id="map"></div>
</body>
</html>