<nav class='navbar navbar-expand-lg navbar-light bg-light'>
  <a class='navbar-brand mb-0 h1' href='/maps'>MAP APP</a>

  <button class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
    <span class='navbar-toggler-icon'></span>
  </button>
<% const linkClass =  user_name ? '' : 'disabled' %>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item active'>
        <a class='nav-link' href='/maps'> browse <span class='sr-only'>(current)</span></a>
      </li>
      <li class='nav-item'>
        <a class= 'nav-link <%= linkClass %>' href='/users:profile'>profile</a></span>
      </li>
      <li class='nav-item'>
        <a class='nav-link <%= linkClass %>' href='/maps/new'>create map</a>
      </li>
    </ul>
    <% if (user_name){ %>
       <span> <b><%= user_name %> &nbsp;&nbsp;</b></span>
       <a href='/sessions/out'>
        <button class='btn btn-outline-success my-2 my-sm-0'>LogOut</button>
      </a>
    <% }else{ %>
    <a href='/sessions/new'>
      <button class='btn btn-outline-success my-2 my-sm-0'>Login</button>
    </a>
    <% } %>
  </div>
</nav>


<%# 
Nav bar modified from starter code. 
Souce: https://coreui.io/docs/components/navbar/ 
%>