<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MappApp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- internal script --> 
    <script type="text/javascript" src="scripts/view-map.js"></script> 
    <title>Main page</title>
</head>
<body>
  <% include partials/_header %>
  <label id='centerlong' class="datacontainer"> <%= map.map_setting.center_long %> </label>
  <label id='centerlat' class="datacontainer"> <%= map.map_setting.center_lat %> </label>
  <h2><%= map.name %></h2>                                                                                                                                                                        
  <div clas="container">
      <div class="row-container row">
          <div class=" col-7">                                
              <div id="map">
            <img class="" width="70px" height="70px"src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-5/128/016_map_location_travel_navigation_city_street_road-512.png">
          </div>
        </div>
      <div class=" col-5">
          <div class="box">
            <h3>More info:</h3>
          </div>
    </div>
  </div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGX4T5LFPiQQTFQk9CWQdHONYfbmbV--I&callback=initMap"></script>
  </script>
</body>
</html>