<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MapApp - Main</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap and W3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/favourites.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- internal Script --> 
    <script type="text/javascript" src="/scripts/map-favourites.js"></script> 
    
</head>

<body>
  <%- include('partials/_header', {user_name: user_name}); %>
  
  <!-- create map tiles for each map-->

   <div class ='card-deck' style='margin:20px'>

    <% maps.forEach(function(map){ %>
    
      <%- include('partials/_map_card', {map:map}); %>

    <% }) %>

  </div>

</body>
</html>


