<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MapApp - Main</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    
</head>

<body>
  <% include partials/_header %>
  
  <!-- create map tiles for each map-->

   <div class ='card-deck' style='margin:20px'>

    <% maps.forEach(function(map){ %>
      <% link = '/maps/'+ map.id %>

        <div class="card">
          <img class="card-img-top" src="https://maps.twomoons.de/styles/klokantech-basic/13/2817/4944.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=map.name%></h5>
            <p class="card-text">Some information about the map goes here!</p>
          </div>
          <div class="card-footer">
            <!<a href=<%=link%> class="btn btn-primary">View map</a>>
            <a href="<%=link%>" class="badge badge-light">View map</a>
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>


    <% }) %>

  </div>

</body>
</html>


