<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MapApp - Main</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap and W3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/favourites.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    


    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- internal script --> 
    <script type="text/javascript" src="/scripts/map-favourites.js"></script> 
    
</head>

<body>
  <%- include('partials/_header', {user_name: user_name}); %>
  <p id="demo"></p>

  <div style='max-width:400px; margin:auto; padding:20px'>
    <form id="new-map" action="/maps/" method="POST" class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal">Create new map</h1>
      <label for="name"><h4><b>Name</b></h4></label>
      <input type="text" class="form-control" placeholder="Map name" name="name" required>
      </br>
      <label for="name"><h4><b>Location</b></h4></label>
      <button type="button" class="btn btn-outline-secondary btn-block" onclick="getLocation()" style='margin-bottom:10px;'>Add your location</button>
      <label for="center_long">Longitude:</label>
      <input id="center_long" class="form-control" name="center_long" required></input>
      <label for="center_lat">Latitude:</label>
      <input id="center_lat" class="form-control" name="center_lat" required></input>
      <button type="submit" class="btn btn-lg btn-primary btn-block" style='margin-top:20px;'>Create Map</button>
      <output class="error"></output>
    </form>
  <div>

  <script>
      const lat = document.getElementById("center_lat");
      const long = document.getElementById("center_long");
      
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      
      function showPosition(position) {
        lat.value =  position.coords.latitude
        long.value = position.coords.longitude;
      }
      </script>

</body>
</html>


