<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="styles/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MapApp - Main</title>

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Bootstrap and W3 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/favourites.css" type="text/css" />
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    


    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- internal script --> 
    <script type="text/javascript" src="/scripts/map-favourites.js"></script> 
    
</head>

<body>
  <%- include('partials/_header', {user_name: user_name}); %>
  <p id="demo"></p>
  <form id="new-map" action="/maps/" method="POST" >
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-teal">
        <h2>Create new map</h2>
      </header>
      <label for="name"><b>Name</b></label>
      <input type="text" placeholder="Map name" name="name" required>
      <br />
      <label for="center_long"><b>Longitude</b></label>
      <input id="center_long" name="center_long"></input>
      <br />
      <label for="center_lat"><b>Latitude</b></label>
      <input id="center_lat" name="center_lat"></input>
      <br />
      <footer class="w3-container w3-teal">
        <button type="button" onclick="getLocation()">Add your location</button>
        <button type="submit" class="btn">Create</button>
        <output class="error"></output>
      </footer>
    </div>
  </form>

 

  <script>
      const lat = document.getElementById("center_lat");
      const long = document.getElementById("center_long");
      
      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }
      
      function showPosition(position) {
        lat.value =  position.coords.latitude
        long.value = position.coords.longitude;
      }
      </script>

</body>
</html>


