<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="public/styles/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MappApp</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    
</head>
<body>
  <% include partials/_header %>
  <title>Main page</title>
  <div class="container">
    <div class="row-container row">
      <div class="col-7">
          <div id="map">
              <img class="" width="70px" height="70px"src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-5/128/016_map_location_travel_navigation_city_street_road-512.png">
           </div>
      </div>
      <div class="col-5">

      </div>
    </div>
  </div>
  <div class=" col-5">
    <div class="box">
      <h3>More info:</h3>
     </div>
  </div>
</body>
</html>