<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MappApp</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/view_map.css" type="text/css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">  
    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>
    <!-- internal script --> 
    <script type="text/javascript" src="/scripts/view-map.js"></script> 
    <title>Main page</title>
</head>
<body>
  <% include partials/_header %>
  <label id='centerlong' class="datacontainer"> <%= settings.center_long %> </label>
  <label id='centerlat' class="datacontainer"> <%= settings.center_lat %> </label>
  <label id='mapid' class="datacontainer"> <%= id %> </label>
                                                                                                                                                                          
  <div clas="container">
      <div class="row-container row">
          <div class=" col-7">
            <div>
              <h2>Map name : <%= name %></h2> 
                <button id="toggleEditBtn" class="right" onclick="enableNewPointEvent()">Add New Point</button>
                <button class="right" >Like</button>
              </div>                               
              <div id="map">
            <img class="" width="70px" height="70px"src="https://cdn2.iconfinder.com/data/icons/scenarium-vol-5/128/016_map_location_travel_navigation_city_street_road-512.png">
          </div>
        </div>
      <div class=" col-5">
        <div id="point-container">
          <h2 class="title"></h2>
          <div class="desc-container">
              <p class="description"></p>
          </div>          
          <img class="img"/>
        </div>
        <button id="delete-point" class="right modify-point" onclick="deleteActivePoint()">Delete</button>
        <button id="edit-point" onclick="openPointEditForm()"; class="right modify-point">Edit</button>
        <button id="upload-img" onclick="$('#uploadImg').show()"; class="right modify-point">Upload image</button>
        
    </div>
  </div>

  <di id="popups">
    <form id="newPointForm" action="/maps/:map/points" method="POST"  class="w3-modal">
      <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-teal">
          <span onclick="cancelAddNewPoint()" class="w3-button w3-display-topright">&times;</span>
          <h2>Create new point</h2>
        </header>
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter point name" name="title" required>
        <br/>
        <label for="description"><b>Description</b></label>
        <textarea name="description" placeholder="Optional"></textarea>
        <footer class="w3-container w3-teal">
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onclick="cancelAddNewPoint()">
            Close
          </button>
          <output class="error"></output> 
        </footer>
      </div>
    </form>

    <form id="editPointFrom" action="/maps/:map/points" method="PUT"  class="w3-modal">
      <div class="w3-modal-content w3-card-4">
        <header class="w3-container w3-teal">
          <span onclick="$('#editPointFrom').hide();" class="w3-button w3-display-topright">&times;</span>
          <h2>Edit point settings </h2>
        </header>
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter point name" name="title" required>
        <br/>
        <label for="description"><b>Description</b></label>
        <textarea name="description" placeholder="Optional"></textarea>
        <footer class="w3-container w3-teal">
          <button type="submit" class="btn">Submit</button>
          <button type="button" class="btn cancel" onclick="$('#editPointFrom').hide();">
            Close
          </button>
          <output class="error"></output> 
        </footer>
      </div>
    </form>
  </div>

  <form id="uploadImg" action="/maps/:map/points" method="PUT"  class="w3-modal">
    <div class="w3-modal-content w3-card-4">
      <header class="w3-container w3-teal">
        <span onclick="$('#uploadImg').hide()" class="w3-button w3-display-topright">&times;</span>
        <h2>Edit point settings </h2>
      </header>
      <label for="url"><b>Image url</b></label>
      <input type="url" placeholder="Enter image url" name="url" required>
      <br/>
      <footer class="w3-container w3-teal">
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="$('#uploadImg').hide()">
          Close
        </button>
        <output class="error"></output> 
      </footer>
    </div>
  </form>
</div>

  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGX4T5LFPiQQTFQk9CWQdHONYfbmbV--I&callback=initMap"></script>
  </script>
</body>
</html>