#map{
    width: 100%;
    height: 400px;
    background-color: grey;
   
    }
.header{
    text-align: center;
    margin: auto;
}
.button1 {
    margin-left: 200px;
    
}


#nav-bar{
    height: 70px;
    background-color:whitesmoke;
    
    border: solid 1px black; 
}
.header{
    font-family: monospace;
    font-size: 48px
}
body{
    background-color: aliceblue;
}
.logoRight{
    float: right;
}
.logo{
    float: left;
}
    