#map{
  width: 100%;
  height: 80vh;
  background-color: grey;
}

#map-container{
  margin: 1vw;
}

h2 {
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.btn {
  margin: 3px;
}
/* point view*/

.img {
  height: 50vh;
  width: 100%;
}

.desc-container {
  height: 25vh;
  overflow: auto;
}


/* hide close button in GoogleMaps Marker info bubble */
.gm-ui-hover-effect {
  display: none !important;
}

